/* 网页样式初始化文件 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 设置img的垂直对齐方式为居中对齐，去除img默认下间隙 */
img {
    vertical-align: middle;
  }

a {
    color: #222;
    text-decoration: none;
}


ul {
    list-style: none;
}

.clearfix::before, .clearfix::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.w {
    width: 1380px;
    margin: 0 auto;
}